.section--keys {
  .keys__controls {
    display: flex;

    > button {
      padding: 0.5rem 1rem;
      background: none;
      font-family: $font-family--serif;
    }

    > button + button {
      margin-left: 1rem;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;

      > button {
        width: 100%;
      }

      > button + button {
        margin-left: 0;
        margin-top: 1rem;
      }
    }
  }
}
