.page--landing {
  h1  {
    img {
      width: 2rem;
      display: inline-block;
      margin-right: 1rem;
    }
    span {
      font-weight: $font-weight--light;
      font-size: $font-size--h2;
      color: $color--dark-grey;
    }
  }
}
