.page--login {
  border-top: 1px solid $color--dark;
  border-bottom: 1px solid $color--dark;
  background: linear-gradient(
    rgba($color--primary, 0.1),
    rgba($color--grey, 0.8)
  );
  padding: $vertical-flow $horizontal-flow !important;

  > div {
    display: flex;
    flex-direction: column;
    padding-top: $vertical-flow;

    > * + * {
      margin-top: $vertical-flow;
    }
  }
}

@media screen and (min-width: 768px) {
  .page--login {
    padding-top: $vertical-flow !important;

    > div {
      align-items: flex-end;

      p {
        text-align: right;
        width: 50%;
      }
    }
  }
}
